@mixin btn ($height, $border-radius, $background-color, $border, $cursor, $color) {
    height: $height;
    border-radius: $border-radius;
    background-color: $background-color;
    border: $border;
    cursor: $cursor;
    color: $color;
  }

.headerBtn {
    @include btn (22px, 20px, #FFFFFF, 1px solid #EBEBEB, pointer, black);
    margin-right: 8px;
    transition: all 0.3s ease;
}

.headerBtn:hover {
    background-color: #000838fd;
    border: 1px solid yellow;
    color: yellow;
}