@mixin p ($font-family, $font-size, $font-weight, $line-height, $letter-spacing) {
  font-family: $font-family;
  font-size: $font-size;
  font-weight: $font-weight;
  line-height: $line-height;
  letter-spacing: $letter-spacing;
}

.paragraph {
  padding: 22px 30px 30px 14px;
  p {
    @include p (Noto Sans, 16px, 400, 24px, 0em);
    text-align: left;
  }
}