@mixin grid($grid, $params) {
  display: $grid;
  grid-template-columns: $params;
}

.head__content {
    display: flex;
    border-bottom: 1px solid #EBEBEB;
    @include grid(grid, repeat(4, 1fr));
  }

@media screen and (max-width: 1400px) {
  .head__content {
    display: flex;
    flex-direction: column;
  }
}