.navbar {
    padding: 0;
    margin: 0;
    .item {
        cursor: pointer;
        list-style: none;
        font-family: Noto Sans;
        font-size: 18px;
        font-weight: 500;
        line-height: 25px;
        letter-spacing: 0em;
        text-align: left;
        color: #787D85;
        padding: 10px 0px;
        transition: all 0.2s;
    }
    .item:hover {
        color: #7653FC;
    }
}

.list {
    list-style: none;
    display: flex;
    svg {
        fill: #787D85;
        padding-top: 2px;
        padding-right: 10px;
    }
}