@mixin size ($height, $width) {
  height: $height;
  width: $width;
}

@mixin p ($font-family, $font-size, $font-weight, $line-height, $letter, $color) {
  font-family: $font-family;
  font-size: $font-size;
  font-weight: $font-weight;
  line-height: $line-height;
  letter-spacing: $letter;
  color: $color;
}

@mixin border($border, $radius) {
  border: $border;
  border-radius: $radius;
}

.head__content__skillbox {
    display: grid;
    grid-area: 1/1/2/3;
    display: flex;
  }

  .img_skillbox {
    margin: 30px;
    margin-bottom: 18px;
  }

  .chalice {
    @include size (14.998794555664062px, 18px);
    @include border (1px solid #DCB44E, 5px);
    fill: #DCB44E;
    padding: 2px;
    margin-left: 5px;
    cursor: pointer;
  }

  .proffesion {
    @include p (Noto Sans, 20px, 600, 27px, 0em, #3B434E);
    text-align: left;
    padding-bottom: 11px;
  }

  .head__text {
    padding-top: 30px;
  }