@mixin wrapperGrid ($height, $display, $col, $row, $gap) {
  height: $height;
  display: $display;
  grid-template-columns: $col;
  grid-template-rows: $row;
  grid-gap: $gap;
}

.wrapper {
  @include wrapperGrid (100%, grid, repeat(14, 1fr), repeat(12, 1fr), 10px);
}

@media screen and (max-width: 1200px) {
  .wrapper {
    grid-template-columns: none;
    grid-template-rows: none;
  }
}