.description {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 30px 12px 12px 12px;
    h4 {
        color: #3B434E;
        font-size: 16px;
        padding-right: 10px;
    }
    h3 {
        color: #3B434E;
        font-family: Noto Sans;
        font-weight: 700;
        line-height: 22px;
        font-size: 16px;
        padding-bottom: 5px;
    }
    p {
        padding-left: 10px;
        padding-right: 60px;
    }
    li {
        color: #3B434E;
        padding-bottom: 12px;
    }
}

@media screen and (max-width: 1200px) {
    .description {
        display: flex;
        flex-direction: column;
    }
}