@mixin p ($font-family, $font-size, $font-weight, $line-height, $letter, $color) {
  font-family: $font-family;
  font-size: $font-size;
  font-weight: $font-weight;
  line-height: $line-height;
  letter-spacing: $letter;
  color: $color;
}

.p__star__top {
  @include p(Noto Sans, 20px, 400, 27px, 0em, #3B434E);
    text-align: left;
  }

  .p__star__inner {
    @include p(Noto Sans, 14px, 300, 19px, 0em, #3B434E);
    text-align: left;
}