.form {
    margin-bottom: 30px;
    position: relative;
    input {
        color: #A4A4A4;
        font-size: 16px;
        padding-left: 15px;
        border: none;
        outline: none;
        width: 230px;
        height: 36px;
        border-radius: 5px;
    }
    div {
        height: 30px;
        width: 30px;
        position: absolute;
        top: 3px;
        right: 4px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 10px;
        background: #7653FC;
        border: none;
        cursor: pointer;
        svg {
            fill: white;
        }
    }
}