@mixin btn ($display, $justify, $align, $height, $width, $border-radius, $background-color, $border, $cursor, $color) {
  display: $display;
  justify-content: $justify;
  align-items: $align;
  height: $height;
  width: $width;
  border-radius: $border-radius;
  background-color: $background-color;
  border: $border;
  cursor: $cursor;
  color: $color;
}

@mixin p ($font-family, $font-size, $font-weight, $line-height, $letter, $color) {
  font-family: $font-family;
  font-size: $font-size;
  font-weight: $font-weight;
  line-height: $line-height;
  letter-spacing: $letter;
  color: $color;
}

.p__star__inner {
  @include p(Noto Sans, 14px, 300, 19px, 0em, #3B434E);
  text-align: left;
}

.head__content__stars {
  grid-area: 1/3/2/5;
  justify-self: end ;
  display: flex ;
  }

.btn__star {
  @include btn(flex, center, center, 22px, 67px, 20px, #C8F8E4, none, pointer, #1DC47E);
  font-weight: bold;
  margin-left: 10px;
}

.star {
  // fill: #7653FC;
  fill: #E2E2E2;
  transition: all 0.3s;
  cursor: pointer;
}

.star:hover {
  fill: #7653FC;
}

@media screen and (max-width: 1400px) {
  .head__content__stars {
    margin: 0 auto;
  }
}