  .star__input {
    display: none;
  }
  
  .star__label {
    position: relative;
    cursor: pointer;
    color: darkblue;
    font-size: 30px;
  }
  
  .star__label:before {
    content: "★";
    position: absolute;
    opacity: 0;
    font-size: 30px;
  }
  
  .star__label:hover,
  .star__label:hover ~ .star__label:before {
    opacity: 1 !important;
  }
  
  .star__input:checked ~ .star__label:before,
  .star__label:hover:before {
    opacity: 1;
  }  